useDynLib(predictionet)

export(netinf,netinf.cv,netinf.predict,fit.regrnet.causal,rank.genes.causal.perturbations,pred.onegene.regrnet.fs,regrnet2topo,bayesnet2topo,net2topo,pred.score,net.stab,data.discretize,mcc,network2triplets,get.pairs,get.ii4triplets.gaussian,build2.mim)
